<div class="container">
  <div class="cardRepor card w-50 mt-5">
    <div *ngIf="repositories.length === 0">
      {{ noRepor }}
    </div>
    <div *ngFor="let repos of repositories">
      <h5>Projeto : {{ repos.name }}</h5>
      <div class="description-project">
        Descrição:
        {{ repos.description ? repos.description : "Sem descrição" }}
      </div>
      <div>
        <p>
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="toggle()"
            (click)="serchIssues(repos.name)"
          >
            <span>Clique para acesso as issues</span>
            <i class="bi bi-binoculars"></i>
          </button>
        </p>
        <div *ngIf="repos.name == repositorie">
          <div class="card">
            <i class="close-issue bi bi-x" (click)="close()"></i>
            <div class="card-body">
              <div *ngFor="let issue of issues">
                <div>
                  <p>Título:</p>
                  <span>
                    {{
                      issue.description ===
                      "Pull requests that update a dependency file"
                        ? "Não possui"
                        : issue.title
                    }}</span
                  >
                </div>
                {{
                  issue.description ===
                  "Pull requests that update a dependency file"
                    ? "Possui apenas pull request"
                    : issue.body
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
