.cardRepor {
  margin: 0 auto;
  box-shadow: 5px 5px 5px #000000ac;
  padding: 10px;
  overflow: scroll;
  height: 25em;

  h5 {
    text-align: center;
  }
}

.close-issue {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 25px;
}

.description-project{
  
}